.header {
  height: 87px;
  line-height: 87px;
  display: flex;
  flex-wrap: nowrap;
}
.header .logo {
  height: 87px;
}
.header .logo h1 {
  display: inline-block;
  font-size: 20px;
  font-weight: normal;
}
.header .logo img {
  margin-top: -16px;
  vertical-align: middle;
}
.header .nav-header {
  margin-left: 223px;
}
.header .nav-header ul li {
  float: left;
  margin-left: 55px;
  line-height: 88px;
}
.header .nav-header ul li:first-child {
  margin-left: 0;
}
.header .nav-header ul a {
  padding: 5px 0;
  height: 30px;
  color: #333333;
}
.header .nav-header ul a:hover {
  border-bottom: 2px solid #314456;
}
.header p {
  font-size: 16px;
  margin-left: 100px;
}
.banner {
  width: 100%;
  height: 528px;
  min-width: 1200px;
  background: url(../images/banner-test2.png) no-repeat center;
  background-size: cover;
  background-color: rgba(0, 0, 1, 0.5);
  overflow: hidden;
}
.banner .slogan {
  margin-top: 142px;
  color: #fff;
}
.banner .slogan h3 {
  font-weight: normal;
  font-size: 40px;
}
.banner .slogan p {
  margin-top: 10px;
  width: 373px;
}
.nav {
  height: 319px;
}
.nav ul {
  padding: 84px 0 85px;
  display: flex;
  justify-content: space-around;
}
.nav ul li {
  display: flex;
  flex-direction: column;
  width: 202px;
  height: 100%;
  align-items: center;
  cursor: pointer;
  align-content: space-around;
}
.nav ul li .iconfont {
  color: #1296DB;
  font-size: 51px;
}
.nav ul li .title {
  margin: 15px 0 16px;
}
.nav ul li .desc {
  color: #666666;
  font-size: 14px;
}
.profile {
  width: 100%;
  height: 455px;
  background-color: #F4F1F4;
}
.profile .profile-main {
  height: 100%;
  box-sizing: border-box;
  padding-left: 73px;
  padding-right: 74px ;
}
.profile .profile-main .profile-title {
  text-align: center;
  padding-top: 45px;
  color: #000;
}
.profile .profile-main .profile-title p span:first-child {
  margin-right: 10px;
}
.profile .profile-main .profile-title .br {
  width: 43px;
  border: 1px solid #1296DB;
  margin: 13px auto 0;
}
.profile .profile-main .profile-content {
  margin-top: 34px;
}
.profile .profile-main .profile-content .profile-img {
  width: 447px;
  height: 305px;
  float: left;
  background: url(../images/profile.png) no-repeat;
}
.profile .profile-main .profile-content .content {
  margin-left: 476px;
  padding-top: 10px;
}
.profile .profile-main .profile-content .content h4 {
  font-weight: normal;
  padding-bottom: 20px;
}
.profile .profile-main .profile-content .content p {
  font-size: 14px;
  line-height: 20px;
  color: #666666;
}
.profile .profile-main .profile-content .content .detail {
  margin-top: 28px;
  width: 96px;
  height: 33px;
  background: #ffffff;
  border: 1px solid #1296db;
  font-size: 14px;
  color: #0395CD;
  text-align: center;
  line-height: 33px;
  border-radius: 4px;
  cursor: pointer;
}
.profile .profile-main .profile-content .content .detail:hover {
  background-color: #1296db;
  color: #ffffff;
}
.culture {
  width: 100%;
  height: 609px;
  background-color: #ffffff;
}
.culture .culture-main {
  height: 100%;
  box-sizing: border-box;
  padding-left: 135px;
  padding-right: 134px ;
}
.culture .culture-main .culture-title {
  text-align: center;
  padding-top: 43px;
  color: #000;
}
.culture .culture-main .culture-title p span:first-child {
  margin-right: 10px;
}
.culture .culture-main .culture-title .br {
  width: 43px;
  border: 1px solid #1296DB;
  margin: 13px auto 0;
}
.culture .culture-main .culture-content {
  width: 930px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 57px;
  height: 420px;
  background-color: red;
}
.culture .culture-main .culture-content .place {
  position: relative;
  width: 310px;
  height: 210px;
}
.culture .culture-main .culture-content .place .desc {
  width: 310px;
  height: 210px;
  background-color: #FFB100;
  color: #fff;
  transition: all 0.5s;
  display: flex;
  flex-direction: column;
}
.culture .culture-main .culture-content .place .desc .title {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  padding: 15px 19px 0 0;
}
.culture .culture-main .culture-content .place .desc .title h4 {
  font-size: 30px;
}
.culture .culture-main .culture-content .place .desc .content {
  width: 212px;
  padding: 5px 55px 0 50px;
  cursor: pointer;
}
.culture .culture-main .culture-content .place .desc .content h4 {
  font-size: 20px;
  font-weight: normal;
  padding-bottom: 10px;
}
.culture .culture-main .culture-content .place .desc .content p {
  font-size: 12px;
  line-height: 17px;
}
.culture .culture-main .culture-content .place .desc:hover {
  position: absolute;
  z-index: 10;
  width: 330px;
  height: 230px;
  margin: -10px 0 0 -10px;
}
.culture .culture-main .culture-content img {
  width: 310px;
  height: 210px;
}
#green {
  background-color: #B8C400;
}
#blue {
  background-color: #0395CD;
}
.services {
  width: 100%;
  height: 455px;
  background-color: #F4F1F4;
}
.services .services-main {
  height: 100%;
  box-sizing: border-box;
}
.services .services-main .services-title {
  text-align: center;
  padding-top: 41px;
  color: #000;
}
.services .services-main .services-title p span:first-child {
  margin-right: 10px;
}
.services .services-main .services-title .br {
  width: 43px;
  border: 1px solid #1296DB;
  margin: 13px auto 0;
}
.services .services-main .services-content {
  display: flex;
  justify-content: space-between;
}
.services .services-main .services-content .item {
  margin-top: 40px;
  width: 255px;
  height: 310px;
  box-sizing: border-box;
  border: 1px solid #D9D9D9;
  cursor: pointer;
}
.services .services-main .services-content .item img {
  display: block;
  width: 253px;
  height: 186px;
}
.services .services-main .services-content .item .title {
  font-size: 16px;
  color: #333333;
  padding: 15px 0 9px 14px;
}
.services .services-main .services-content .item .content {
  border-top: 1px solid #E3E3E3;
  font-size: 14px;
  color: #999999;
  padding: 15px 10px 0 14px;
}
.news {
  width: 100%;
  height: 523px;
  background-color: #ffffff;
}
.news .news-main {
  height: 100%;
  box-sizing: border-box;
}
.news .news-main .news-title {
  text-align: center;
  padding-top: 41px;
  color: #000;
}
.news .news-main .news-title p span:first-child {
  margin-right: 10px;
}
.news .news-main .news-title .br {
  width: 43px;
  border: 1px solid #1296DB;
  margin: 13px auto 0;
}
.news .news-main .news-content {
  display: flex;
  justify-content: space-between;
}
.news .news-main .news-content .item {
  box-sizing: border-box;
  position: relative;
  margin-top: 45px;
  width: 253px;
  height: 345px;
  box-shadow: 0px 3px 6px rgba(70, 70, 70, 0.16);
  border-radius: 13px;
  padding: 52px 25px 0;
  cursor: pointer;
}
.news .news-main .news-content .item .title {
  font-size: 16px;
  color: #000000;
  height: 40px;
}
.news .news-main .news-content .item .content {
  font-size: 16px;
  color: #666666;
  padding: 15px 0 29px;
}
.news .news-main .news-content .item .times {
  position: absolute;
  bottom: 15px;
  font-size: 16px;
  color: #707070;
}
.partners {
  width: 100%;
  height: 450px;
  background-color: #F4F1F4;
}
.partners .partners-main {
  height: 100%;
  box-sizing: border-box;
}
.partners .partners-main .partners-title {
  text-align: center;
  padding-top: 41px;
  color: #000;
}
.partners .partners-main .partners-title p span:first-child {
  margin-right: 10px;
}
.partners .partners-main .partners-title .br {
  width: 43px;
  border: 1px solid #1296DB;
  margin: 13px auto 0;
}
.partners .partners-main .partners-content {
  margin-top: 68px;
  display: flex;
  justify-content: space-between;
}
.partners .partners-main .partners-content .place {
  width: 235px;
  height: 241px;
  position: relative;
}
.partners .partners-main .partners-content .place .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 235px;
  height: 241px;
  box-shadow: 0px 3px 6px rgba(83, 83, 83, 0.16);
  background-color: #fff;
  transition: all 0.2s;
  cursor: pointer;
}
.partners .partners-main .partners-content .place .item img {
  width: 130px;
  height: 90px;
}
.partners .partners-main .partners-content .place .item:hover {
  position: absolute;
  z-index: 2;
  width: 299px;
  height: 281px;
  margin: -20px 0 0 -32px;
}
.contact {
  width: 100%;
  height: 337px;
  background-color: #ffffff;
}
.contact .contact-main {
  height: 100%;
  box-sizing: border-box;
}
.contact .contact-main .contact-title {
  text-align: center;
  padding-top: 41px;
  color: #000;
}
.contact .contact-main .contact-title p span:first-child {
  margin-right: 10px;
}
.contact .contact-main .contact-title .br {
  width: 43px;
  border: 1px solid #1296DB;
  margin: 13px auto 0;
}
.contact .contact-main .contact-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 48px 219px 0;
  text-align: center;
}
.contact .contact-main .contact-content h2 {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color: #000000;
}
.contact .contact-main .contact-content .contactWay {
  width: 336px;
  height: 46px;
  margin-bottom: 30px;
  border: 1px solid #d9d9d9;
}
.contact .contact-main .contact-content .contactWay span.iconfont {
  display: inline-block;
  width: 68px;
  height: 46px;
  text-align: center;
  line-height: 46px;
  font-size: 25px;
  border-right: 1px solid #d9d9d9;
}
.contact .contact-main .contact-content .contactWay input {
  border: none;
  outline: none;
}
.footer {
  width: 100%;
  height: 300px;
  background-color: #353235;
}
.footer .footer-main {
  height: 100%;
  box-sizing: border-box;
  padding: 48px 80px 0 219px;
}
.footer .footer-main dl {
  float: left;
  font-size: 13px;
}
.footer .footer-main dl dt {
  color: #fff;
  line-height: 20px;
}
.footer .footer-main dl dd {
  color: #707070;
  line-height: 18px;
  margin-top: 15px;
  cursor: pointer;
}
.footer .footer-main dl dd:hover {
  color: #fff;
}
.footer .footer-main dl:nth-child(2) {
  margin-left: 80px;
}
.footer .footer-main dl:nth-child(3) {
  margin-left: 80px;
}
.footer .footer-main dl:nth-child(4) {
  margin-left: 80px;
}
.footer .footer-main .code {
  float: right;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer .footer-main .code p {
  font-size: 16px;
}
.footer .footer-main .code img {
  margin: 9px 15px;
  width: 100px;
  height: 100px;
}
.footer .footer-main .code span {
  font-size: 14px;
}
